.developerCard {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    height: 200px;
    display: flex;
}

.developerCard:hover {
    background-color: #f3f3f3;
}

.developerCard__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.developerCard__avatar > button > span > a > div {
    width: 150px;
    height: 150px;
}

.developerCard__infos {
    width: 60%;
    padding: 20px;
}

.developerCard__infos > p {
    font-size: 18px;
}

.developerCard__infos > span {
    display: flex;
    align-items: center;
    color: grey;
}

.developerCard__buttons {
    width: 20%;
}

.developerCard__infosChips > div {
    margin-right: 5px;
}

.developerCard__buttons > div > strong > small {
    color: grey;
}

.developerCard__buttons > div {
    display: flex;
    justify-content: flex-end;
    height: 20%;
    padding: 10px;
}

.developerCard__buttons > div > a {
    text-decoration: none;
}

.developerCard__buttons > div:nth-child(2) > a > button {
    width: 100%;
    background-color: rgb(120, 185, 255);
}

.developerCard__buttons > div:nth-child(3) > a > button {
    width: 100%;
}

.developerCard__buttons > div:nth-child(2) > a > button:hover {
    background-color: rgb(77, 153, 252);
}