.developerProfileEdit__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.developerProfileEdit__body {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.developerProfileEdit__body > div {
    text-align: center;
}

.developerProfileEdit__inputs {
    margin-top: 25px;
}

.developerProfileEdit__inputsRole > div {
    width: 60%;
    margin-top: 30px;
}

.developerProfileEdit__inputsChips {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.developerProfileEdit__chipsInput {
    width: 60%;
}

.developerProfileEdit__fileInput {
    width: 100%;
    margin-top: 30px;
}

.developerProfileEdit__fileInput > div {
    width: 60%;
}

.developerProfileEdit__inputsCountry {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
}

.developerProfileEdit__countryAutocomplete {
    width: 60%;
}

.developerProfileEdit__textEditor {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.developerProfileEdit__textEditor > div {
    width: 80%;
}

.developerProfileEdit__inputIcon {
    cursor: pointer;
    color: grey;
}

.developerProfileEdit__saveButton {
    background-color: rgb(120, 185, 255)!important;
    width: 30%;
}

.developerProfileEdit__saveButton:hover {
    background-color: rgb(77, 153, 252)!important;
}

.developerProfileEdit__chipsArray {
    display: flex;
    margin-top: 20px;
    width: 60%;
    flex-wrap: wrap;
}

.developerProfileEdit__chipsArray > div {
    margin: 2px;
}

.developerProfileEdit__avatar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.developerProfileEdit__avatar > div {
    width: 200px;
    height: 200px;
}