.footer {
    height: 100px;
    width: 100%;
    background-color: rgb(95, 109, 122);
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.footer__users {
    width: 25%;
}

.footer__jobs {
    width: 25%;
}

.footer__info {
    width: 50%;
}