.header {
    height: 60px;
    background-color: rgb(120, 185, 255);
    display: flex;
}

.header__logo {
    height: 60px;
    margin-left: 20px;
}

.header__logo > a > img {
    height: 60px;
}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.header__menu > a {
    text-decoration: none;
    color: white;
}

.header__menuOption {
    display: flex;
    height: 60px;
    width: 150px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    z-index: 1000;
}

.header__menuOption:hover {
    background-color: rgb(77, 153, 252);
}

.header__option:hover + .header__submenu {
    display: flex;
}

.header__option {
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menuOptionAvatar {
    display: flex;
    height: 60px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header__menu {
    color: white;
}

.header__menuOptionWithName {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: 150px;
}

.header__menuOptionWithName > .header__optionDisplayBane {
    font-size: 10px;
}

.header__submenu {
    position: absolute;
    top: 60px;
    height: fit-content;
    width: 200px;
    background-color: rgb(120, 185, 255);
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
    display: none;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

.header__menuOptionAvatar > .header__submenu {
    right: 1px;
    width: 150px;
}

.header__submenu > div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__submenu > a {
    text-decoration: none;
    color: white;
}

.header__submenu > a > div {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__submenu > div:hover {
    background-color: rgb(77, 153, 252);
    cursor: pointer;
}

.header__submenu > a > div:hover {
    background-color: rgb(77, 153, 252);
    cursor: pointer;
}

.header__submenu:hover {
    display: flex;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}