.jobCard {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding-top: 25px;
}

.jobCard:hover {
    background-color: #f3f3f3;
}

.jobCard__header {
    display: flex;
}

.jobCard__title {
    padding-left: 25px;
    width: 50%;
}

.jobCard__title > a {
    color: #4774b7;
}

.jobCard__favorite {
    padding-right: 25px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.jobCard__favorite > button {
    z-index: 1000;
}

.jobCard__price {
    padding-left: 25px;
}

.jobCard__description {
    padding-left: 25px;
    padding-right: 25px;
}

.jobCard__info {
    display: flex;
    padding-left: 25px;
}

.jobCard__info > div {
    width: 33%;
}

.jobCard__skills {
    padding-left: 25px;
}

.jobCard__skills > div {
    margin-right: 5px;
}